
<div class="logo">
    <a href="http://localhost:4200/dashboard" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/logo_agil.jpg"/>
      </div>
    </a>
    <a href="http://localhost:4200/dashboard" class="simple-text logo-normal">
        SNDP Agil 
    </a>
</div>
<div class="sidebar-wrapper" *ngIf="isAgentCommercial()">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    
</div>
