<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des clients </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Statut
                </th>
                <th>
                  Raison sociale
                </th>
                <th>
                  Matricule fiscal
                </th>
                <th>
                  Responsable legal
                </th>
                <th>
                  Budget
                </th>
                <th class="text-right">
                  Détails
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    Iset Djerba
                  </td>
                  <td>
                    30706589
                  </td>
                  <td>
                    Mr Aymen Bouregba
                  </td>
                  <td>
                    100.000 DT
                  </td>
                  <td class="text-right">
                    <button>Voir plus</button>
                  </td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
